## 1. read_csv() 함수를 이용해서 파일 읽기
* csv file 읽기
* head(), tail() 함수로 일부 데이터 가져오기
* colums, index, shape, info() 로 meta 정보 확인
* describe(), max(), min(), mean() 집계함수
* 컬럼명을 변경하고, 특정 컬럼을 인덱스로 변경하기

### csv file 읽기

In [4]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data)) # <class 'pandas.core.frame.DataFrame'>

data.dtypes

<class 'pandas.core.frame.DataFrame'>

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

### head(), tail() 함수로 일부 데이터 가져오기

In [3]:
# head() 의 default = 5
data.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [4]:
# tail() 함수도 default = 5
data.tail(3)

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

### colums, index, shape, info() 로 meta 정보 확인

In [5]:
# 컬럼명
print(data.columns)
#index
print(data.index)
# 행과 열의 수
print(data.shape)

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
RangeIndex(start=0, stop=229, step=1)
(229, 8)

In [6]:
# info() - data frame의 meta 정보를 보여줌
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          228 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

### describe(), max(), min(), mean() 집계함수

In [7]:
#describe() - 집계함수 ( 문자열 타입 컬럼은 제외하고 집계)
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   228.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   437.317250
std     66.250786  2.074378e+05    3.320469    6.040898   381.368014
min      0.000000  8.392000e+03    0.000000    0.000000     7.050000
25%     57.000000  4.955900e+04    3.000000    6.000000    56.175000
50%    114.000000  1.401590e+05    6.000000   11.000000   439.705000
75%    171.000000  3.216180e+05    9.000000   16.000000   693.132500
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [8]:
# 인구수 컬럼값의 최대, 최소, 평균
print(type(data['인구수'])) # Serise data
print(data['인구수'].head())

print('\n인구수','-'*50)
print('최소:',data['인구수'].min())
print('평균:',data['인구수'].mean())
print('최대:',data['인구수'].max())

# 면적의 최대, 최소, 평균
print('\n면적','-'*50)
print('최소:',data['면적'].min())
print('평균:',data['면적'].mean())
print('최대:',data['면적'].max())

<class 'pandas.core.series.Series'>
0    202520
1     25589
2     86747
3     63986
4     76733
Name: 인구수, dtype: int64

인구수 --------------------------------------------------
최소: 8392
평균: 211089.77729257641
최대: 1125461

면적 --------------------------------------------------
최소: 7.05
평균: 437.3172500000002
최대: 1817.94

### 컬럼명을 변경하고, 특정 컬럼을 인덱스로 변경하기

In [9]:
# 컬럼명 변경
data = data.rename(columns={'Unnamed: 0':'seq'})
data.head(2)

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군

In [10]:
# seq 컬럼을 index로 변경하기
data = data.set_index('seq')
data.head(2)

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군

--- 
  
## 2. 특정 행과 열을 선택
* loc[] 사용, iloc[] 사용
* 특정 열을 선택, Slicing으로 열을 선택
* 특정 행을 선택, Slicing으로 행을 선택
* boolean indexing - 조건 식을 만족하는 행을 선택

### 특정 열을 선택

In [11]:
# 행(:)    열(,이후)
data['인구수'] # 컬럼 한개만 선택 가능 (series 객체)
data.loc[:,['인구수','행정구역']].head(3) # 여러개 선택 가능 (data frame)

        인구수 행정구역
seq
0    202520  강릉시
1     25589  고성군
2     86747  동해시

In [12]:
# 인구수, 행정구역, 광역시도 3개의 컬럼 선택
# 특정 열을 여러개 선택할 때는 list를 []로 감싸준다
col_list = ['인구수', '행정구역', '광역시도'] # 변수 저장후 써도 된다!
data.loc[:,col_list].head(3)

        인구수 행정구역 광역시도
seq
0    202520  강릉시  강원도
1     25589  고성군  강원도
2     86747  동해시  강원도

 
###  Slicing으로 열을 선택

In [13]:
# 인구수 컬럼부터 면적 컬럼까지 - slicing
# 컬럼의 특정 구간을 주려면 : 를 사용한다
data.loc[:, '인구수':'면적'].head(3)

        인구수 shortName   x  y       면적
seq
0    202520        강릉  11  4  1040.07
1     25589    고성(강원)   9  0   664.19
2     86747        동해  11  5   180.01

###   
### 특정 행을 선택

In [14]:
# 1개 행만 선택
data.loc[0,:]
# 한 개의 행 이므로 series type이다

인구수           202520
shortName         강릉
x                 11
y                  4
면적           1040.07
광역시도             강원도
행정구역             강릉시
Name: 0, dtype: object

In [15]:
# 여러개의 특정행
data.loc[[0,3,4],:]

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
3     63986        삼척  11  8  1185.80  강원도  삼척시
4     76733        속초   9  1   105.25  강원도  속초시

    
###  Slicing으로 행을 선택

In [16]:
# 여러개의 행 - slicing
data.loc[0:3, :]

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시
3     63986        삼척  11  8  1185.80  강원도  삼척시

In [17]:
data.loc[0:10:2, :] # 2개씩 건너뜀

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
2     86747        동해  11  5   180.01  강원도  동해시
4     76733        속초   9  1   105.25  강원도  속초시
6     24551        양양  10  2   628.68  강원도  양양군
8    313851        원주  10  7   867.30  강원도  원주시
10    34242        정선  11  6  1220.67  강원도  정선군

### 연습하기

In [18]:
# 1. 10개의 행, '행정구역', '광역시도' 가져오기
data.loc[0:9,['행정구역', '광역시도']]

    행정구역 광역시도
seq
0    강릉시  강원도
1    고성군  강원도
2    동해시  강원도
3    삼척시  강원도
4    속초시  강원도
5    양구군  강원도
6    양양군  강원도
7    영월군  강원도
8    원주시  강원도
9    인제군  강원도

In [19]:
# 2. 10,20,30 행, '인구수' 부터 '면적' 까지 가져오기
# data.loc[10:30:10,'인구수':'면적']    # 이것도 가능
data.loc[[10,20,30],'인구수':'면적']

         인구수 shortName   x  y        면적
seq
10     34242        정선  11  6  1220.670
20     63227        과천   7  7    35.813
30   1125461        수원   6  9   121.090

### 컬럼 명을 index로 주기

In [20]:
# iloc[] 사용   : loc은 컬럼명을 직접 적어주어야함
data.iloc[0:20:2, 0:3] # 컬럼을 index로 줄때 사용

        인구수 shortName   x
seq
0    202520        강릉  11
2     86747        동해  11
4     76733        속초   9
6     24551        양양  10
8    313851        원주  10
10    34242        정선  11
12   264144        춘천  10
14    38439        평창  10
16    23612        화천   7
18    53497        가평   9

### 중복을 제거하고 확인

In [21]:
# 광역시도 이름 확인 : unique(). -> 중복된 이름을 빼고 출력
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [22]:
data['행정구역'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군',
       '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시',
       '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구',
       '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구',
       '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종시', '울주군',
       '강화군', '계양구', '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군',
       '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군',
       '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군',
       '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시',
       '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군',
       '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시', '충주시'], dtype=object)

### 각 광역시도의 갯수 세기

In [23]:
# 광역시도 이름별로 count해서 출력
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
경상남도       18
강원도        18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

### 특정 지역만 선택하여 출력

In [24]:
# 조건식 을 loc 함수에 주기
data['광역시도'] == '서울특별시'

seq
0      False
1      False
2      False
3      False
4      False
       ...
224    False
225    False
226    False
227    False
228    False
Name: 광역시도, Length: 229, dtype: bool

In [25]:
data.loc[data['광역시도'] == '서울특별시',:].head()

        인구수 shortName  x  y    면적   광역시도 행정구역
seq
124  526157      서울강남  6  7  39.5  서울특별시  강남구
125  432028      서울강동  8  5  24.6  서울특별시  강동구
126  310292      서울강북  5  2  23.6  서울특별시  강북구
127  554709      서울강서  4  4  41.4  서울특별시  강서구
128  484478      서울관악  5  6  29.6  서울특별시  관악구

In [64]:
# 부산 광역시의 행정구역 인구 수 컬럼을 출력
data.loc[data['광역시도']=='부산광역시', ['행정구역', '인구수']].head()

    행정구역     인구수
seq
108  강서구   84722
109  금정구  235887
110  기장군  142223
111   남구  271753
112   동구   85952

---
## 3. 조건식 연습하기

In [27]:
# 전체 평균 값
pop_mean_value = data['인구수'].mean()
pop_mean_value

211089.77729257641

In [28]:
# 면적의 평균 값
area_mean = data['면적'].mean()
area_mean

437.3172500000002

In [29]:
# 인구수가 평균보다 낮은 행정구역을 가져오기
data.loc[data['인구수'] < pop_mean_value , ['행정구역', '인구수']]

    행정구역     인구수
seq
0    강릉시  202520
1    고성군   25589
2    동해시   86747
3    삼척시   63986
4    속초시   76733
..   ...     ...
223  음성군   86441
224  제천시  127462
225  증평군   34480
226  진천군   62809
228  충주시  198077

[141 rows x 2 columns]

In [63]:
# 인구수가 평균보다 높고 연적이 평균보다 놓은 행정구역
data.loc[(data['인구수'] > pop_mean_value) & (data['면적'] > area_mean)].head()

        인구수 shortName   x  y       면적 광역시도  행정구역
seq
8    313851        원주  10  7   867.30  강원도   원주시
12   264144        춘천  10  3  1116.35  강원도   춘천시
26   610300       남양주   8  3   458.44  경기도  남양주시
40   915005        용인   7  9   591.50  경기도   용인시
44   385528        파주   3  2   672.56  경기도   파주시

In [62]:
# 경기도에서 인구수가 평균보다 높은 행정구역
data.loc[ (data['광역시도']=='경기도')&(data['인구수']>pop_mean_value) , ].head()

        인구수 shortName  x  y      면적 광역시도 행정구역
seq
19   955384        고양  4  2  267.33  경기도  고양시
21   327111        광명  3  3   38.50  경기도  광명시
22   290210        광주  8  7  431.84  경기도  광주시
24   273302        군포  5  8   36.35  경기도  군포시
25   326523        김포  2  3  276.64  경기도  김포시

### 조건식을 활용하여 함수만들기
##### 광역시도별 최대 인구수를 구하는 함수 만들기
* dataFrame을 만들어 표 형태로 출력하기

In [32]:
# 강원도에서 가장 높은 인구수는?   .. 강원도의 인구수 행을 뽑은 후, max함수를 쓴다
data.loc[ data['광역시도']=='강원도', '인구수' ].max()

313851

In [33]:
# **도 에서 가장 높은 인구수를 구하는 함수
def max_people(do):
    result = data.loc[ data['광역시도']== do, '인구수' ].max()
    return result

max_people('경기도')

1125461

In [34]:
# 함수 활용
data.loc[ data['인구수'] == max_people('서울특별시') , ]

        인구수 shortName  x  y    면적   광역시도 행정구역
seq
141  615487      서울송파  8  6  33.9  서울특별시  송파구

In [35]:
# 최대인구수의 행을 추출하는 함수를 만들기
def max_people_row(sido):
    res = data.loc[ data['인구수'] == max_people(sido) , ]
    return res

max_people_row('서울특별시')

        인구수 shortName  x  y    면적   광역시도 행정구역
seq
141  615487      서울송파  8  6  33.9  서울특별시  송파구

In [36]:
# ver.2
def max_people_row2(sido):
    m = data.loc[data['광역시도'] == sido , '인구수'].max()
    res = data.loc[ data['인구수'] == m ,['광역시도', '행정구역', '인구수'] ]
    return res

max_people_row2('서울특별시')

      광역시도 행정구역     인구수
seq
141  서울특별시  송파구  615487

In [37]:
# numpy.ndarray 타입 : for loop 사용 가능
type(data['광역시도'].unique())

numpy.ndarray

In [38]:
# 전체 광역시도의 인구수 최대값 구하기
for sido in data['광역시도'].unique()[:5]:
#     print(type(max_people_row(sido)))
    print(max_people_row(sido)) # dataFrame 객체를 반환

        인구수 shortName   x  y     면적 광역시도 행정구역
seq
8    313851        원주  10  7  867.3  강원도  원주시
         인구수 shortName  x  y      면적 광역시도 행정구역
seq
30   1125461        수원  6  9  121.09  경기도  수원시
         인구수 shortName  x   y      면적  광역시도 행정구역
seq
61   1010040        창원  7  18  734.87  경상남도  창원시
        인구수 shortName   x   y      면적  광역시도 행정구역
seq
89   488395        포항  12  11  1127.0  경상북도  포항시
        인구수 shortName  x   y      면적   광역시도 행정구역
seq
93   439683      광주북구  3  19  121.74  광주광역시   북구

* 결과값을 DataFrame 형식으로 만들고 싶다.

In [39]:
# 새로운 data frame 생성하기
max_pop_df = pd.DataFrame(columns=['광역시도', '행정구역', '인구수'])
max_pop_df

Empty DataFrame
Columns: [광역시도, 행정구역, 인구수]
Index: []

In [40]:
max_pop_df = pd.DataFrame(columns=['광역시도', '행정구역', '인구수'])
for sido in data['광역시도'].unique():
    max_pop_df = max_pop_df.append(max_people_row2(sido), sort=False)
    # sort=False : 정렬안되어있으니까 정렬하라 는 뜻
max_pop_df.head(3)

    광역시도 행정구역      인구수
8    강원도  원주시   313851
30   경기도  수원시  1125461
61  경상남도  창원시  1010040

In [41]:
#reset_index() - 인덱스 조정
# 인덱스를 변경하면거 기존 인덱스 값을 컬럼으로 변경
# drop=True로 설정하면 기존인덱스 값이 포함된 index 칼럼을 drop 하겠다
max_pop_df = max_pop_df.reset_index(drop = True)
max_pop_df.head()

    광역시도 행정구역      인구수
0    강원도  원주시   313851
1    경기도  수원시  1125461
2   경상남도  창원시  1010040
3   경상북도  포항시   488395
4  광주광역시   북구   439683

In [42]:
# index를 1부터 시작하도록 바꾸기
import numpy as np
max_pop_df.index = np.arange(1, len(max_pop_df)+1)
# print(max_pop_df.index)
max_pop_df.head()

    광역시도 행정구역      인구수
1    강원도  원주시   313851
2    경기도  수원시  1125461
3   경상남도  창원시  1010040
4   경상북도  포항시   488395
5  광주광역시   북구   439683

##### 광역시도 별 최대 면적을 구하는 함수 만들기
* DataFrame 형식으로 만들어 출력하기

In [43]:
# 가장 넓은 면적을 구하는 함수
def max_area(sido):
    m = data.loc[data['광역시도'] == sido , '면적'].max()
    res = data.loc[ data['면적'] == m ,['광역시도', '행정구역', '면적'] ]
    return res
max_area('서울특별시')

      광역시도 행정구역     면적
seq
138  서울특별시  서초구  47.04

In [61]:
# 각 광역시마다 면적을 출력
area_df = pd.DataFrame(columns=['광역시도', '행정구역', '면적']) # dataFrmae 생성
for sido in data['광역시도'].unique(): 
    area_df = area_df.append(max_area(sido))  # dataFrmae에 삽입
area_df.reset_index(drop=True).head()

    광역시도 행정구역       면적
0    강원도  홍천군  1817.94
1    경기도  양평군   877.08
2   경상남도  합천군   983.42
3   경상북도  안동시  1519.00
4  광주광역시  광산구   222.88

In [60]:
# 값을 원하는 조건으로 정렬 하는 함수
# shift + tab : 함수 help
max_pop_df.sort_values('인구수', ascending=False).reset_index(drop=True).head(3)

   광역시도 행정구역      인구수
0   경기도  수원시  1125461
1  경상남도  창원시  1010040
2  충청북도  청주시   790216

---
## 4. 상관계수
* 상관계수 값은 -1 ~ +1 사이의 값
* 1에 가까울수록 서로 관련성이 있음
* corr() 함수를 사용

In [46]:
# 전체 면적과 인구수의 상관관계
data['면적'].corr(data['인구수'])

-0.3515827765566791

In [47]:
# 서울광역시의 면적과 인구수의 상관관계
seoul_df =data.loc[data['광역시도'] == '서울특별시']
seoul_df.reset_index(drop=True).head()

      인구수 shortName  x  y    면적   광역시도 행정구역
0  526157      서울강남  6  7  39.5  서울특별시  강남구
1  432028      서울강동  8  5  24.6  서울특별시  강동구
2  310292      서울강북  5  2  23.6  서울특별시  강북구
3  554709      서울강서  4  4  41.4  서울특별시  강서구
4  484478      서울관악  5  6  29.6  서울특별시  관악구

In [48]:
seoul_df['면적'].corr(seoul_df['인구수'])
# 서울의 면적과 인구수가 굉장히 관련이 있다

0.6644268188909779

In [49]:
# 경기도의 상관계수
gygi=data.loc[data['광역시도'] == '경기도']
gygi['면적'].corr(gygi['인구수'])

-0.21572485071590813

---
## 5. Group By 기능 사용하기
* Series 객체(col = 1)의 groupby()
* DataFrame 객체(col > 1)의 groupby()

In [50]:
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
경상남도       18
강원도        18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [51]:
# 광역시도 별 '인구수'의 합계
# ~ 별에 해당하는 컬럼은 groupby()함수의 파라미터로 전달한다.
# Series 객체의 groupby()
data['인구수'].groupby(data['광역시도']).sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64

In [52]:
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending = False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [53]:
# 광역시도 별 면적의 합계
data['면적'].groupby(data['광역시도']).sum().sort_values(ascending = False)

광역시도
경상북도       19021.850
강원도        16874.810
전라남도       12008.390
경상남도       10437.460
경기도        10179.743
충청남도        8272.270
전라북도        7907.220
충청북도        7397.310
제주특별자치도     1848.480
인천광역시       1022.910
울산광역시        980.220
대구광역시        885.690
부산광역시        760.440
서울특별시        605.390
대전광역시        539.640
광주광역시        501.280
세종특별자치시      465.230
Name: 면적, dtype: float64

In [54]:
# DataFrame 객체의 groupby
# 광역시도별 인구수의 합계
data.groupby('광역시도').sum().head(3)

           인구수    x    y         면적
광역시도
강원도    1429438  173   68  16874.810
경기도   11744210  182  162  10179.743
경상남도   3144487  123  313  10437.460

In [55]:
# dataFrame에 대한 groupby()
data.groupby('광역시도')['인구수'].sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64

In [56]:
data.groupby('광역시도')['면적'].sum().sort_values(ascending=False)

광역시도
경상북도       19021.850
강원도        16874.810
전라남도       12008.390
경상남도       10437.460
경기도        10179.743
충청남도        8272.270
전라북도        7907.220
충청북도        7397.310
제주특별자치도     1848.480
인천광역시       1022.910
울산광역시        980.220
대구광역시        885.690
부산광역시        760.440
서울특별시        605.390
대전광역시        539.640
광주광역시        501.280
세종특별자치시      465.230
Name: 면적, dtype: float64

In [57]:
# 광역시도 별, 행정구역 별
data.groupby(['광역시도', '행정구역'])['인구수'].sum().head(20)

광역시도  행정구역
강원도   강릉시     202520
      고성군      25589
      동해시      86747
      삼척시      63986
      속초시      76733
      양구군      20809
      양양군      24551
      영월군      34966
      원주시     313851
      인제군      29260
      정선군      34242
      철원군      43189
      춘천시     264144
      태백시      44175
      평창군      38439
      홍천군      62957
      화천군      23612
      횡성군      39668
경기도   가평군      53497
      고양시     955384
Name: 인구수, dtype: int64

In [58]:
grouping_data = data.groupby(['광역시도', '행정구역'])['인구수'].sum()
type(grouping_data)

pandas.core.series.Series

In [59]:
# excel 파일로 저장
grouping_data.to_excel('data/광역시도행정구역별인구수.xlsx', sheet_name='인구수')

##### 이어서 보기
*[4_2_matplotlib_seaborn_행정구역정보_시각화](WEB/...)